/* AnimationComponents.css */
.transition-box {
    width: 100px;
    height: 100px;
    background-color: #4CAF50;
    transition: width 2s;
  }
  
  .transition-box:hover {
    width: 200px;
  }
  
  .animation-box {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  
  @keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }
  